.allVideos {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: $gray;
  align-items: center;

  &__divider {
    width: 100%;
    padding-top: 3px;
    margin: 2rem 0;
    background-color: #fff;
  }

  &__dividerHidden {
    width: 100%;
    padding-top: 3px;
  }

  &__section {
    width: 100%;
  }
}
