.allVideos {
	background-color: $gray;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__divider {
		width: 100%;
		background-color: white;
		padding-top: 3px;
		margin: 2rem 0;
	}

	&__dividerHidden {
		width: 100%;
		padding-top: 3px;
	}

	&__section {
		width: 100%;
	}
}