.videoPlayer {
  display: none;
  box-sizing: border-box;
  background-color: $gray;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;


  &__video {
    max-width: 90vw;
    max-height: 90vh;
  }

  &__controls {
    flex-grow: 5;
    padding: 10px;
    display:flex;
    justify-content: space-around;
    height: 4rem;

    &__mute {
      display: block;
      max-width: 5rem;
    }

    &__unmute {
      display: none;
      max-width: 5rem;
    }

    &__play {
      display: block;
      max-width: 5rem;
    }

    &__pause {
      display: none;
      max-width: 5rem;
    }
    
    &__back {
      display: block;
      max-width: 5rem;
    }

    &__fullscreen {
      display: block;
      max-width: 5rem;
    }

    &__forward {
      display: block;
      transform: scaleX(-1);
      max-width: 5rem;
    }
  }
}
