.videoPlayer {
  display: none;
  box-sizing: border-box;
  background-color: $gray;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &__heading {
    margin-top: 0;
  }

  &__goBack {
    cursor: pointer;
  }


  &__video {
    height: 100%;
    position: relative;
    width: 100%;
    max-height: 70vh;
    max-width: 90vw;
    object-fit: contain;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &__video {
      object-fit: contain;
      max-height: 100%;
      max-width: 100%;
    }

    &__videoPlayIcon {
        position: absolute;
        height: 10%;
        width: 10%;
    }
  }

  &__controls {
    min-height: 2rem;
    flex-grow: 5;
    padding: 10px;
    display:flex;
    justify-content: space-around;
    height: 8vh;
    max-width: 100vw;
    position: relative;

    &__mute {
      display: block;
      max-width: 5rem;
    }

    &__unmute {
      display: none;
      max-width: 5rem;
    }

    &__play {
      display: block;
      max-width: 5rem;
    }

    &__pause {
      display: none;
      max-width: 5rem;
    }
    
    &__back {
      display: block;
      max-width: 5rem;
    }

    &__fullscreen {
      display: block;
      max-width: 5rem;
    }

    &__forward {
      display: block;
      transform: scaleX(-1);
      max-width: 5rem;
    }
  }
}
