.body {
  display: flex;
  max-width: 100vw;
  box-sizing: content-box;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}

@import "scss/variables.scss";
@import "scss/cards.scss";
@import "scss/videosection.scss";
@import "scss/videoPlayer.scss";
@import "scss/allVideos.scss";
