body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	max-width: 1200px;
}

@import "scss/cards.scss";
@import "scss/videosection";